body {
    padding: 0;
    margin: 0;
}

div.left-container {
    background-color: darkcyan;
    float: left; /* Setting Left Float due to Right Float div Breaking Without it */
    width: 50%;
    height: 40px;
    padding-left: 10px;
}

div.right-container {
    background-color: teal;
    text-align: right;
    float: right;
    width: 50%;
    height: 40px;
    padding-right: 10px;
}

div.image-container {
    object-fit: contain;
    background-color: black;
    width: 50%;
    height: 20px;
}

p.text {
    text-shadow: 0 0 6px black;
    color: white;
    font-size: 20px;
    line-height: 40px;
}

img {
    width: 100%; 
    height: 100%;
}